<a href="https://colab.research.google.com/github/kingajutrzenka/kurs-sztuczna-inteligencja-w-medycynie/blob/main/czyszczenie_danych.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **Czyszczenie danych üßπ**

## **analiza danych**

In [ ]:
import pandas as pd

In [ ]:
df = pd.read_csv('/content/patients.csv')
print(df.head()) #zwraca pierwsze 5 wierszy

   PatientID  Age     Sex    Modality   StudyDate
0        123   35       M          CT  2021-01-01
1        124    |  Female          CT  2021-01-02
2        125  11`       D         MRI     unknown
3        126  42Y       M  2021-01-04         NaN
4        127  NaN       f         MRI  2021-01-05

In [ ]:
print(df.tail()) #zwraca ostatnie 5 wierszy

   PatientID  Age     Sex    Modality   StudyDate
0        123   35       M          CT  2021-01-01
1        124    |  Female          CT  2021-01-02
2        125  11`       D         MRI     unknown
3        126  42Y       M  2021-01-04         NaN
4        127  NaN       f         MRI  2021-01-05

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5 entries, 0 to 4
Data columns (total 5 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   PatientID  5 non-null      int64
 1   Age        4 non-null      object
 2   Sex        5 non-null      object
 3   Modality   5 non-null      object
 4   StudyDate  4 non-null      object
dtypes: int64(1), object(4)
memory usage: 332.0+ bytes

In [ ]:
df.describe()

        PatientID
count    5.000000
mean   125.000000
std      1.581139
min    123.000000
25%    124.000000
50%    125.000000
75%    126.000000
max    127.000000

In [ ]:
df.describe(include='all')

         PatientID  Age  Sex Modality   StudyDate
count     5.000000    4    5        5           4
unique         NaN    4    4        3           4
top            NaN   35    M       CT  2021-01-01
freq           NaN    1    2        2           1
mean    125.000000  NaN  NaN      NaN         NaN
std       1.581139  NaN  NaN      NaN         NaN
min     123.000000  NaN  NaN      NaN         NaN
25%     124.000000  NaN  NaN      NaN         NaN
50%     125.000000  NaN  NaN      NaN         NaN
75%     126.000000  NaN  NaN      NaN         NaN
max     127.000000  NaN  NaN      NaN         NaN

## **braki w danych**

In [ ]:
df.isnull().sum() #liczba brak√≥w w kolumnach

PatientID    0
Age          1
Sex          0
Modality     0
StudyDate    1
dtype: int64

nie mo≈ºemy takich danych u≈ºyƒá do modelu!

In [ ]:
import numpy as np
df.replace(['|', 'unknown', 'Unknown', ",", "", ""], np.nan, inplace=True) #wsyztskie dziwne rzeczy kt√≥re siƒô pojawi≈Çy

In [ ]:
df.isna().sum() #isna = isnull

PatientID    0
Age          2
Sex          0
Modality     0
StudyDate    2
dtype: int64

In [ ]:
print(df['Age'].unique()) #pokazuje nam dane w tej kolumnie

['35' nan '11`' '42Y']

In [ ]:
df['Age'] = df["Age"].astype('str').str.replace("Y", '', regex=False)
df['Age'] = pd.to_numeric(df['Age'], errors='coerce')

 errors='coerce' - to czego nie mo≈ºe przekomwertowaƒá daje nan

In [ ]:
print(df)

   PatientID   Age     Sex    Modality   StudyDate
0        123  35.0       M          CT  2021-01-01
1        124   NaN  Female          CT  2021-01-02
2        125   NaN       D         MRI         NaN
3        126  42.0       M  2021-01-04         NaN
4        127   NaN       f         MRI  2021-01-05

## **usuwanie lub uzupe≈Çnianie brak√≥w**

Modality - typ badania

In [ ]:
df['Age'].fillna(df['Age'].median(), inplace=True)
print(df)

   PatientID   Age     Sex    Modality   StudyDate
0        123  35.0       M          CT  2021-01-01
1        124  38.5  Female          CT  2021-01-02
2        125  38.5       D         MRI         NaN
3        126  42.0       M  2021-01-04         NaN
4        127  38.5       f         MRI  2021-01-05

/tmp/ipython-input-3519140271.py:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['Age'].fillna(df['Age'].median(), inplace=True)

In [ ]:
df["Age"].fillna(40, inplace=True)
print(df)

   PatientID   Age     Sex    Modality   StudyDate
0        123  35.0       M          CT  2021-01-01
1        124  38.5  Female          CT  2021-01-02
2        125  38.5       D         MRI         NaN
3        126  42.0       M  2021-01-04         NaN
4        127  38.5       f         MRI  2021-01-05

/tmp/ipython-input-3414209412.py:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df["Age"].fillna(40, inplace=True)

In [ ]:
df = df.dropna(subset=['Age', 'Sex']) # usuwa wszystkie wiersze z brakujƒÖcymi danymi w tych kolumnach
print(df)

   PatientID   Age     Sex    Modality   StudyDate
0        123  35.0       M          CT  2021-01-01
1        124  38.5  Female          CT  2021-01-02
2        125  38.5       D         MRI         NaN
3        126  42.0       M  2021-01-04         NaN
4        127  38.5       f         MRI  2021-01-05